<% include ./partials/header %>

<div class = "container">
    <div class="row">
  <div class="col-md-3 col-sm-12">
      
      
      <img src ="http://quilchena.sd38.bc.ca/sites/quilchena.sd38.bc.ca/files/calendar-icon_0.jpg" width ="100%">
      </br>
      </br>
      </br>
    <% include ./pieces/toDoList %>
  </div>
  <div class="col-md-6 col-sm-12" >
    <div id = "noteArea">
        <div id = "noteTop"></div>
        <hr></hr>
        <div id = "lines"> 
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
            <div class = "notelines"></div>
        </div>
    </div>
    <button class ="btn btn-md btn-primary "><i class ="glyphicon glyphicon-floppy-disk lg"></i > Save</button>
  </div>
  <div class="col-md-3 col-sm-12">
      <% include ./pieces/postIt %>
  </div>
    
    
    
</div>
<% include ./partials/footer %>
